body {
    margin: 0;
    overflow: hidden;
}

.fondo {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#pant1 input {
    border: 1px solid black;
    font-weight: bold;
    font-family: monospace;
    border-radius: 50%;
    z-index: 9999999;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0.5vw;
    width: 4vw;
    height: 4vw;
    max-height: 5vh;
    max-width: 5vh;
    min-width: max-content;
    min-height: max-content;
    cursor: pointer;
    outline: 0;
}

#KeyW {
    top: 80vh;
    left: 64vw;
}

#KeyE {
    top: 80vh;
    left: 54.5vw;
}

#KeyS {
    top: 80vh;
    left: 43.5vw;
}

#KeyD {
    top: 28vh;
    left: 55vw;
}

#KeyA {
    top: 28vh;
    left: 21vw;
}

#KeyM {
    top: 91vh;
    left: 73.5vw;
}

#ArrowUp {
    top: 67vh;
    left: 80.5vw;
}

#ArrowDown {
    top: 72vh;
    left: 80.5vw;
}

#ArrowLeft {
    top: 69.5vh;
    left: 77.5vw;
}

#ArrowRight {
    top: 69.5vh;
    left: 83.5vw;
}

#KeyP {
    top: 50vh;
    left: 80.5vw;
}

#KeyZ {
    top: 54.5vh;
    left: 25vw;
}

#KeyC {
    top: 48.5vh;
    left: 25vw;
}

#Enter {
    top: 52.5vh;
    left: 52vw;
}

#Pantalla {
    top: 5.5vh;
    left: 13.4vw;
    position: absolute;
    background-color: black;
    width: 58vw;
    height: 87vh;
    z-index: -99999;
}

#cambios {
    width: 25vw;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 999999;
    left: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

#CN {
    grid-row: 4/5;
    grid-column: 1/2;
}

#C1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#C2 {
    grid-row: 7/8;
    grid-column: 2/3;
}

#C3 {
    grid-row: 1/2;
    grid-column: 4/5;
}

#C4 {
    grid-row: 7/8;
    grid-column: 4/5;
}
#C5 {
    grid-row: 1/2;
    grid-column: 6/7;
}

#CR {
    grid-row: 7/8;
    grid-column: 6/7;
}

.conten {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    border: 2px solid black;
    height: 100%;
    width: 0;
}

#V1 {
    grid-row: 3/4;
    grid-column: 2/3;
}

#V2 {
    grid-row: 3/4;
    grid-column: 4/5;
}

#V3 {
    grid-row: 3/4;
    grid-column: 6/7;
}

#V4 {
    grid-row: 5/6;
    grid-column: 2/3;
}

#V5 {
    grid-row: 5/6;
    grid-column: 4/5;
}

#V6 {
    grid-row: 5/6;
    grid-column: 6/7;
}

.horizontal {
    border: 2px solid black;
    height: 0;
    width: 100%;
}

#H1 {
    grid-row: 4/5;
    grid-column: 3/4;
}

#H2 {
    grid-row: 4/5;
    grid-column: 5/6;
}

.bolita {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#B1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#B2 {
    grid-row: 2/3;
    grid-column: 4/5;
}

#B3 {
    grid-row: 2/3;
    grid-column: 6/7;
}

#B4 {
    grid-row: 4/5;
    grid-column: 2/3;
}

#B5 {
    grid-row: 4/5;
    grid-column: 4/5;
}

#B6 {
    grid-row: 4/5;
    grid-column: 6/7;
}

#B7 {
    grid-row: 6/7;
    grid-column: 2/3;
}

#B8 {
    grid-row: 6/7;
    grid-column: 4/5;
}

#B9 {
    grid-row: 6/7;
    grid-column: 6/7;
}

#Panel {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999999;
    position: absolute;
    left: 28vw;
    padding: 1vw;
    width: 43vw;
    height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
}

#Velocidad {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 9999999;
    position: absolute;
    left: 14vw;
    top: 2vh;
    padding: 1vw;
    width: 10vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Distancia {
    background-color: rgba(228, 213, 213, 0.8);
    text-align: center;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    padding: 1vw;
    width: 10vw;
    height: 4vh;
}

#tablero {
    z-index: 9999999999;
}

#pant2 {
    display: none;
}

#map {
    width: 100%;
    height: 79vh;
    position: relative;
}
#P1{
    text-align: center;
    display:flex;
    flex-flow: column;
    align-items: center;
}
#P2,#P3{
    text-align: center;
    display:none;
    flex-flow: column;
    align-items: center;
}
#P4{
    width: 100%;
    height: 100%;
    display:none;
    text-align: center;
    align-items: center;
}
#select {
    position: absolute;
    top:1vh;
    margin: 0;
    background-color: rgba(77, 77, 77, 0.4);
}

#presicion {
    position: absolute;
    top:70vh;
    left:1vw;
    margin: 0;
    background-color: rgba(77, 77, 77, 0.4);
}

#OK{
    position: absolute;
    top:65vh;
    left:40vw;
    margin: 0;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 50%;
    border: 0;
    box-shadow: black 3px 3px 8px;
    cursor: pointer;
}
#contenido {
    top: 9.5vh;
    left: 17.4vw;
    position: absolute;
    width: 50vw;
    height: 79vh;
    z-index: 9999999999999999999999999;
    overflow: hidden;
    border-radius: 10px;
}
#PanelR{
    max-height: 69vh;
    overflow-y: scroll;    
    background-color: rgb(148, 148, 148);
    margin-bottom: 10px;
    margin-top: 10px;
}
#Ok2{
    margin: 0;
    padding: 3px;
    width: 10vw;
    border-radius: 3px;
    cursor: pointer;
    border:black 1px solid;
}
.botones{
    display: flex;
    justify-content: space-around;
    min-width: max-content;
    width: 25vw;
}
#volver{
    margin: 0;
    padding: 3px;
    width: 10vw;
    border-radius: 3px;
    border:black 1px solid;
    cursor: pointer;
}
.column{
    display: flex;
    flex-flow: column;
    height: 79vh;
    justify-content: space-around;
}
.column input{
    width: 40vh;
    height: 10vh;
    font-size: 5vh;
    border-radius: 10px;
    cursor: pointer;
}
#Historial{
width: 46%;
height: 100%;  
background-color: lightgray;
border-radius: 10px;
overflow-y: scroll;
align-items: flex-start;
}
#Estadisticas{
width: 46%;
height: 50%;
}
#Estadisticas2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}
#VelocidadA, #DistanciaA{
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 48%;
    height: max-content;
}
#Tiempo, #VPromedio {
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
#SeparadorHistoEsta{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Parabrisas{
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: -25vh;
    left: 4vw;
}